$white: #ffffff !default;
// GRAY SHADES ====================================
$header: #f3f6f8;
$light_gray: #d8d9dc;
$dark_gray: #a09ba3;
// BLUE SHADES ====================================
$cyan: #30faf5;
$side_blue: #0472fe;
$dark_blue: #20265b;
$light_blue: #17bef0;
$lightblue_hov: #3bafda;